@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  overflow: auto;
}

html {
  font-size: 16px;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

body {
  -ms-overflow-style: none;
}

body {
  font-family: "Roboto", sans-serif;
}
